<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.mycalendar">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
    <application android:label="MyCalendar.Android"
                 android:allowBackup="true"
                 android:supportsRtl="true">

      <receiver android:name=".AndroidNotificationReceiver"
                android:enabled="true"
                android:exported="true">
        <intent-filter>
          <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
      </receiver>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="com.companyname.mycalendar.permission.C2D_MESSAGE" 
                android:protectionLevel="signature" />
    <uses-permission android:name="com.companyname.mycalendar.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest>
